.skills {
  min-height: 100vh;

  user-select: none;

  margin: 3rem 12rem;
  padding: 1rem;

  position: relative;

  border-left: 4px solid var(--cian-500);

  display: flex;
  flex-direction: column;

  padding-left: 1rem;

  gap: 3rem;
}
