.profile-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--cian-500);
  margin: 0 2rem;

  border-radius: 50%;
  box-shadow: 3px -3px 1px var(--cian-500), -3px 3px 1px var(--cian-500);
}
