.about {
  display: flex;
  min-height: 70vh;
}

.about__content--left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 2;
}

.about__content--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  flex: 3;
}

.techs {
  width: 25rem;

  display: flex;
  align-items: center;

  flex-wrap: wrap;
  gap: 1rem;

  p {
    color: var(--gray-200);

    &::before {
      content: ">. ";
      font-size: 0.6rem;
      color: var(--cian-500);
    }
  }
}

@media screen and (max-width: 1080px) {
  .about__content--left {
    flex: 3;
  }

  .about__content--right {
    flex: 4;
  }
}

@media screen and (max-width: 590px) {
  .about {
    flex-direction: column;
    gap: 2rem;
  }
}
