.about-me {
  display: flex;
  flex-direction: column;

  text-align: justify;
  gap: 1rem;

  p {
    color: var(--gray-200);
  }
}

@media screen and (max-width: 590px) {
  .about-me {
    width: 100%;
    margin: 0;
  }
}
