.home {
  height: calc(100vh - 17rem);
  user-select: none;

  margin: 0 10rem;
  padding: 4rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 0.5rem;

  .hello {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cian-500);
  }

  h1 {
    font-size: 5.1rem;
  }

  .role {
    font-size: 3.5rem;
    font-weight: 400;
    color: var(--gray-200);
  }

  .description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-200);
    width: 24rem;
    line-height: 1.3rem;
  }

  span.cian-detail {
    color: var(--cian-500);
    display: inline-block;
  }

  .grow {
    display: inline-block;
    transition: transform 550ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .grow:hover {
    transform: scale(108%);
  }

  .memoji {
    height: 16rem;
    width: 16rem;

    background-color: var(--cian-500);
    border-radius: 16rem;
  }
}

@media screen and (max-width: 1080px) {
  .home {
    height: calc(100vh - 15rem);
    margin: 0 5rem;
    padding: 5rem 1.5rem;

    h1 {
      font-size: 4.5rem;
    }

    .role {
      font-size: 3.5rem;
    }
  }
}

@media screen and (max-width: 890px) {
  .home {
    .memoji {
      visibility: hidden;
      display: none;
    }
  }
}

@media screen and (max-width: 720px) {
  .home {
    margin: 0 3rem;
    padding: 8rem 1.5rem;

    h1 {
      font-size: 4.5rem;
    }

    .role {
      font-size: 3.5rem;
    }
  }
}

@media screen and (max-width: 490px) {
  .home {
    margin: 0 3rem;
    padding: 0 3rem;

    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    h1 {
      font-size: 2.8rem;
    }

    .role {
      font-size: 2rem;
    }

    .hello,
    .description {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
