.detail-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & + .detail-item {
    margin-top: 1rem;
  }

  position: relative;

  strong {
    color: var(--cian-500);
    font-weight: 400;
  }

  &::before {
    content: "";

    width: 4px;
    height: 4px;
    padding: 4px;

    border-radius: 8px;
    background: var(--gray-900);
    border: 3px solid var(--gray-50);

    box-sizing: border-box;
  }
}
