.go-home-btn {
  position: fixed;

  top: 4rem;
  right: 8rem;

  height: 2.5rem;
  width: 2.5rem;

  border-radius: 2.5rem;
  overflow: hidden;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 4;

  color: var(--cian-500);

  border: 2px solid transparent;

  &:hover {
    border-color: var(--cian-500);
  }
}

@media screen and (max-width: 1080px) {
  .go-home-btn {
    right: 3rem;
  }
}

@media screen and (max-width: 790px) {
  .go-home-btn {
    right: 1rem;
  }
}

@media screen and (max-width: 590px) {
  .go-home-btn {
    left: -2px;
    top: auto;
    bottom: 10rem;

    border: 2px solid var(--gray-800);
    border-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    background: var(--gray-50);

    color: var(--gray-900);
    font-weight: bold;

    &:hover {
      border-color: var(--gray-900);
    }
  }
}
