.header {
  height: 3rem;
  max-width: var(--max-width);
  width: var(--width);

  padding: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;

  .header__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;

    .info__name {
      font-size: 1.1rem;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: var(--cian-500);
    }
  }
}
