.nav {
  ul {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    li {
      font-size: 1rem;
      color: var(--gray-50);

      transition: 200ms ease-in-out;

      &:hover {
        color: var(--cian-500);
      }

      a {
        padding: 0.8rem 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 545px) {
  .nav {
    width: 100%;

    ul {
      li {
        font-size: 1.2rem;
      }
    }
  }
}
